
<%- include("navbar.ejs") %>
    
    <div class="main container">
        <div class="main1">
            <h3>AWARD WINNING</h3>
            <h1>DIGITAL MARKETING AGENCY</h1><br>
            <p>Morbi sed lacus nec finibus feugaet at fermentum nibh. Pellentesque vitae ante at elit fringilla ac at purus, Morbi sed nec risus finibus feugiat et fermentum</p><br>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#contactModal"> CONTACT US </button>
        </div>
        <div class="main2">
            <img src="/e.jpg" class="img1">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Talk To Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="https://getform.io/f/bpjmjwob" method="POST">
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Work email*" required>
                                <label for="floatingInput">Work email*</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                                    <label for="firstName">First Name</label>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                                    <label for="lastName">Last Name</label>
                                </div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="termsCheck" required>
                                    <label class="form-check-label" for="termsCheck">
                                        I agree to Fyle's terms and conditions, and provide consent to send me communication.
                                    </label>
                                </div>
                            </div>
                        </div>
                            <div class="mb-3 col-md-12">
                                <button type="submit" class="btn w-100">CONTACT US</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
    <!--Service bar-->


    <div class="servo_main">

        <div class="servo">
        
          <div>
            <h4>WHAT WE DO</h4>
            <h2>SERVICES PROVIDE FOR YOU</h2>
          </div>
        
          <div class="para">
            <p>Morbi sed lacus nec finibus feugaet at fermentum nibh. Pellentesque vitae ante at elit fringilla ac at purus, Morbi sed nec risus finibus feugiat et fermentum</p>
          </div>
        
        </div>
        
        <div class="images">
            <div class="image-container">
                <img src="/winter.jpg" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/e.jpg" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/gross.jpg" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/dev.png" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/fruit.jpg" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/summer.jpg" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/beans.jpg" class="image1 col-6" alt="img">
                <div class="overlay">
                    <div class="text">
                        <i class="fa-solid fa-code"></i>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Morbi sed lacus nec finibus feugiat at fermentum nibh. Pellentesque</p>
                        <button class="btn btn-primary" onclick="window.open('https://www.fylehq.com', '_blank')">Read more <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>

            <div class="slider-dots" id="slider-dots">
                <div class="slider-dot" onclick="currentSlide(1)"></div>
                <div class="slider-dot" onclick="currentSlide(2)"></div>
                <div class="slider-dot" onclick="currentSlide(3)"></div>
                <div class="slider-dot" onclick="currentSlide(4)"></div>
            </div>
        </div>
        
        </div>
        
        
          
        </div>
        
        <br>
        <br>
        <br>
        
        

        <!--our project-->
        

        <div class="nut">

            <div class="nut_tag">
                <h4>OUR PROJECT</h4>
                <h2>WHY WE ARE BEST</h2>
            </div>
    
            <div class="nut_head">
                <div>
                    <img src="/nut.jpg" class="nut_img" id="nut_img">
                </div>
                <div class="nut_card">
                    <div class="card cards" style="width: 18rem;" onclick="getImage('/nut.jpg')">
                            <div class="card-body">
                            <h5 class="card-title">Genderless kei - japan's hot</h5>
                            <p class="card-text">Set to launch on the manufacturer's new A330neo aircraft in 2017, it's oferring lots of</p>
                            </div>
                    </div>
                    <div class="card cards" style="width: 18rem;" onclick="getImage('/fruit.jpg')">
                        <div class="card-body">
                        <h5 class="card-title">Better Strategy & Quality</h5>
                        <p class="card-text">Set to launch on the manufacturer's new A330neo aircraft in 2017, it's oferring lots of</p>
                        </div>
                    </div>
                    <div class="card cards" style="width: 18rem;" onclick="getImage('/gross.jpg')">
                        <div class="card-body">
                        <h5 class="card-title">Genderless kei - japan's hot</h5>
                        <p class="card-text">Set to launch on the manufacturer's new A330neo aircraft in 2017, it's oferring lots of</p>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    
        <script>
            function getImage(images){
                document.getElementById("nut_img").src = images; 
            }
        </script>
        

        
   <!-- Our company growth-->

   <div class="grow">

    <div class="grow_head">
        <h4>EXPERTS GROWTHS</h4>
        <H2>OUR COMPANY GROWTH</H2>
    </div>

    <DIV class="main-card">
        <div class="card card-item">
            <div class="card-body items">
              <h5 class="card-title"><i class="fa-solid fa-heart" style="color: #ce0d0d;"></i></h5>
              <h6 class="card-subtitle mb-2 ">199+</h6>
              <p class="card-text">Satisfied Customer</p>
            </div>
          </div>
          <div class="card card-item">
            <div class="card-body items">
              <h5 class="card-title"><i class="fa-solid fa-clock" style="color: #d50707;"></i></h5>
              <h6 class="card-subtitle mb-2 ">1591+</h6>
              <p class="card-text">Days Of Opertaion</p>
            </div>
          </div>
          <div class="card card-item">
            <div class="card-body items">
              <h5 class="card-title"><i class="fa-solid fa-circle-check" style="color: #d70404;"></i></h5>
              <h6 class="card-subtitle mb-2">283+</h6>
              <p class="card-text">Complete Project</p>
            </div>
          </div>
          <div class="card card-item">
            <div class="card-body items">
              <h5 class="card-title"><i class="fa-solid fa-trophy" style="color: #c20000;"></i></h5>
              <h6 class="card-subtitle mb-2">75+</h6>
              <p class="card-text">Win Awards</p>
            </div>
          </div>
    </DIV>

</div>



</body>
</html>
